{% extends "base.html" %}

{% load static %}

{% block title %}
  Create an account
{% endblock %}

{% block content %}
  <h1>
    Create an account
  </h1>
 

  <div class="socialaccount_ballot">

    <div class="socialaccount_providers">

      <div class="my-2">
        <a title="Google"
           class="socialaccount_provider google"
           href="{% url 'google_login' %}">
          <img src="{% static 'images/google.png' %}"
               alt="Google"
               height="50"
               width="300">
        </a>
      </div>

    </div>

    <div class="login-or border-top border-bottom my-3">
      OR
    </div>

  </div>

  <p>
    Please, sign up using the following form:
  </p>
  <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p>
      <input type="submit" value="Create my account">
    </p>
  </form>
  already have an account ?
  <a href="{% url 'account_login' %}">login </a>
{% endblock %}
